<div class="container">

  <%= form_for @app, html: { multipart: true } do |f| %>
  <!-- stripe javascript tag -->
  

    <% if @app.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>
        <ul>
        <% @app.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control", id: 'nameField' %>
    </div>
    <div class="form-group">
      <%= f.label :store %><br>
      <%= f.text_field :store, class: "form-control", id: 'storeField' %>
    </div>
    <div class="form-group">
      <%= f.label :url %><br>
      <%= f.text_field :url, class: "form-control", id: 'urlField' %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: "form-control", id: 'descriptionField' %>
    </div>

    <!-- STRIPE AND NOMINATIONS RECIPT PROCESSING -->
    
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>
    <%= hidden_field_tag 'amount', 499 %>
    <%= hidden_field_tag 'appName' %>
    <%= hidden_field_tag 'appStore' %>
    <%= hidden_field_tag 'appUrl' %>
    <%= hidden_field_tag 'appDescription' %>
    <button id="thisbutton" type="button" class="btn btn-default">Pay With Card!</button>
    <script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        token: function(token, arg) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("new_app").submit();
        }
      });

      document.getElementById('thisbutton').addEventListener('click', function(e) {

        document.getElementById("appName").value = document.getElementById("nameField").value
        document.getElementById("appStore").value = document.getElementById("storeField").value
        document.getElementById("appUrl").value = document.getElementById("urlField").value
        document.getElementById("appDescription").value = document.getElementById("descriptionField").value

        handler.open({
          name: 'Silicon Beach App Awards',
          description: 'One App Nomination ($149.99)',
          amount: document.getElementById("amount").value
        });
        e.preventDefault();
      })
    </script>
  <% end %>
</div>