
<%= form_for @app, html: { multipart: true } do |f| %>
  <!-- stripe javascript tag -->
  
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>
      <ul>
      <% @app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="title">
    <h3>App Info</h3>
  </div>

  <div class="new-app-info">
    <div class="form-group">
      <%= f.text_field :name, class: "form-control app-name", id: 'nameField', placeholder: 'App Name' %>
    </div>
    <div class="form-group">
      <p class="text-center third-store-text">App Store</p>
      <div class="third-store iTunes">iTunes</div>
      <div class="third-store Google">Google</div>
      <div class="third-store Windows">Windows</div>
    </div>
    <div id="noUiSlider" class="noUiSlider"></div>
    <div class="form-group">
      <%= text_field_tag :app_price, '', class: "form-control app-price", id: 'price-field' , placeholder: 'App Price' %>
      <p class="app-price-text app-text">
        ex. 0, 0.99, 1.99 etc.
        <br> We will add this on to your price, since we will have to download it.</p>
      <p class="app-price-number-text app-text">You must enter a number. For free apps, enter 0</p>
    </div>
    <div class="form-group">
      <%= f.text_field :url, class: "form-control app-url", id: 'urlField', placeholder: 'App URL (ex. http://itunes.com/us/app/app-name)' %>
      <p class="app-url-text app-text">Uh oh! This must be a link, starting with http:// or https://</p>
    </div>
    <div class="form-group">
      <%= f.label :image, class: 'text-center'%><br>
      <%= f.file_field :image, class: "form-control form-image-control" %>
    </div>
    <div class="form-group">
      <%= f.text_area :description, class: "form-control app-description", id: 'descriptionField', placeholder: 'Description (optional)' %>
    </div>

    <div class="new-app-button initial-new-app-button">
      Next Step
    </div>
    <div class="new-app-button stripe-new-app-button hidden" id="thisbutton">
      Pay With Card
    </div>
  </div>
  <!-- STRIPE AND NOMINATIONS RECIPT PROCESSING -->

  <%= hidden_field_tag 'stripeToken' %>
  <%= hidden_field_tag 'stripeEmail' %>
  <%= hidden_field_tag 'amount', 14999 %>
  <%= hidden_field_tag 'appName' %>
  <%= hidden_field_tag 'appStore' %>
  <%= hidden_field_tag 'appUrl' %>
  <%= hidden_field_tag 'appDescription' %>
  <%= f.hidden_field :store, class: 'store_field' %>

  <% if @app.id == nil %>
  <% else %>
    <%= f.submit %>
  <% end %>

<% end %>