
<div class="container down">
  <div class="overall-container">
    <% @apps.each do |app| %>
      <div class="col-sm-6 col-lg-3 col-md-4">
        <div class="app-container">
          <div class="img-container">
            <%= link_to image_tag(app.image.url(:medium)), app, id: 'app-image' %>
          </div>
          <div class="caption">
            <div class="name text-center">
              <h3><%= app.name %></h3>
            </div>
            <div class="blue-bg">
              <div class="half">
                <div class="title">
                  Store:
                </div>
                <div class="info">
                  <%= app.store %>
                </div>
              </div>
              <div class="half">
                <div class="title">
                  Price:
                </div>
                <div class="price">
                  Free!
                </div>
              </div>
              <div class="app-link">
                <%= link_to 'App Store Link', app.url %>
              </div>
            </div>
              <% if 2 == 3 %>
                <%= link_to 'Edit', edit_app_path(app), class: 'btn btn-default' %>
                <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?', class: 'btn btn-default' } %>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>