
<div id="apps" class="transitions-enabled">
  <% @apps.each do |app| %>
    <div class="box panel panel-default">
      <%= image_tag app.image.url(:medium) %>
      <div class="panel-body">
        <%= app.name %>
        <%= app.user.email %>
        <%= app.store %>
        <%= app.url %>
        <%= app.description %>
      </div>
      <div class="panel-footer">
        <%= link_to 'Show', app %>
        <% if app.user == current_user %>
          <%= link_to 'Edit', edit_app_path(app) %>
          <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
