
<div class="apps container">
<h1 class="center">Nominations</h1>

<h3>Most Recent Apps</h3>
<% @apps.each do |app| %>
    <div class="app">
      <div class="app-each">
        <div class="pic">
          <%= image_tag app.image.url(:medium) %>
        </div>
        <div class="name"><%= app.name %></div>
        <div class="item description"><%= app.user.email if app.user %></div>
        <div class="info">
          <div class="item store">
              Store: 
              <%= app.store %>
          </div> 
          <div class="item url">
              URL: 
            <%= app.url %>
          </div>

          <div class="item description"><%= app.description %></div> 
          <div class="item show"><%= link_to 'Show', app %></div> 
          <% if app.user == current_user %>
            <div class="item edit"><%= link_to 'Edit', edit_app_path(app) %></div> 
            <div class="item destroy">
              <%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div> 
          <% end %>
        </div>
        </div>
    </div>
<% end %>

</div>