<div class="container down app-show">
  <div class="panel panel-custom">
    <div class="top-image">
      <%= image_tag @app.image.url(:medium) %>
    </div>
    <!-- on top of top-image -->
    <div class="title">
      <h1><%= @app.name %></h1>
      <div class="link">
        <%= link_to "#{@app.store.upcase} STORE LINK", @app.url, target: '_blank' %>
      </div>
    </div>
    
    <div class="up">
      <div class="info">
        <div class="item image-normal">
          <%= image_tag @app.image.url(:medium) %>
        </div>
        <div class="item app-info-item">
          <div class="app-info info-title">
            <%= @app.name %><span> Free</span>   
          </div>
          <div class="app-info">
            <%= simple_format(@app.description) %>
          </div>
        </div>
        <div class="line down-fourty"></div>
        <div class="nominated-on down-fourty">
          Nominated On: <%= @app.created_at.to_formatted_s(:long_ordinal) %>
        </div>
        <div class="line down-fourty"></div>
        <div class="nominated-on down-fourty">
          Awards: @app.articles
        </div>
      </div>
    </div>
  </div>   
</div>