<div class="container down app-show">
  <div class="">
    <div class="top-image">
      <%= image_tag @app.image.url(:medium) %>
    </div>
    <!-- on top of top-image -->
    <div class="title">
      <h1><%= @app.name %></h1>
      <div class="link">
        <%= link_to "#{@app.store.upcase} STORE LINK", @app.url, target: '_blank' %>
      </div>
    </div>
    
    <div class="up">
      <div class="info">
        <div class="item image-normal">
          <%= image_tag @app.image.url(:medium) %>
        </div>
        <div class="item app-info-item">
          <div class="app-info info-title">
            <%= @app.name %><span> Free</span>   
          </div>
          <div class="app-info">
            <%= simple_format(@app.description) %>
          </div>
        </div>
        <div class="line down-fourty"></div>
        <div class="nominated-on down-fourty">
          <div class="nom-title">Nominated On:</div>
           <div class="content"><%= @app.created_at.to_formatted_s(:long_ordinal) %></div>
        </div>
        <div class="line down-fourty"></div>
        <div class="nominated-on down-fourty">
          <div class="nom-title">Awards:</div>
          <div class="content">@app.articles</div>
        </div>
        <div class="line down-fourty"></div>
      </div>
    </div>
  </div>
  <h2 class="text-center clear-both">Comments</h2>
  <div id="disqus_thread" class="clear-both"></div>
  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'siliconbeachappawards';
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript> 
</div>