<div class="container down app-show">
  <div class="panel panel-custom">
    <div class="top-image">
      <%= image_tag @app.image.url(:medium) %>
    </div>
    <!-- on top of top-image -->
    <div class="title">
      <h1><%= @app.name %></h1>
      <div class="link">
        <%= link_to 'APP STORE LINK', @app.url, target: '_blank' %>
      </div>
    </div>
    
    <div class="up">
      <div class="info">
        <div class="item image-normal">
          <%= image_tag @app.image.url(:medium) %>
        </div>
        <div class="item">
          <div class="app-info">
            <span>App Name: </span><%= @app.name %>     
          </div>
          <div class="app-info">
            <span>App Store: </span><%= @app.store %>     
          </div>
          <div class="app-info wordwrap">
            <span>App URL: </span><%= @app.url %>     
          </div>
          <div class="app-info">
            <span>App Price: </span>Free <!-- FIX LATER -->    
          </div>
        </div>
      </div>

    </div>
  </div>   
</div>