<br><br><br><br><br><br><br>

<p>
	Congratulations! Your app <%= @nomination.name %> was sucessfully nominated. We have emailed you a receipt.
</p>

<p>Reciept:</p>
<p>App Name : <%= @nomination.name %></p>
<p>App Store : <%= @nomination.store %></p>
<p>App URL : <%= @nomination.url %></p>
<p>App Description : <%= @nomination.description %></p>

<p>We sent this to  <%= @nomination.email %> if that isn't your email adress, then lol</p>