<!DOCTYPE html>
<html>
<head>
  <title>SB App Awards</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="all">
	<% flash.each do |name, msg| %>
    <div class="container">
      <div class="sam-alert">
  		  <%= content_tag(:div, msg, class: "text") %>
        <div id="okay" class="sam-alert-ok">Ok</div>
      </div>
    </div>
	<% end %>
	<%= yield %>

  
</div>
<%= render 'layouts/footer' %>
</body>
</html>
